<footer>
    <div class="text-success text-center">
        <small>
            Follow on
            <a href="https://twitter.com/jaiselrahman">Twitter</a>
            &nbsp; &bullet; &nbsp; Source code at
            <a href="https://github.com/jaiselrahman/fundo">Github</a>
        </small>
    </div>
    <hr style="background-color:rgb(31, 91, 141)" />
    <div class="panel text-center text-muted" style="padding: 1rem;">
        <small>
            <ul class="list-inline">
                <li>
                    <a href="/fundo">Home</a>
                </li>
                <li>
                    <a href="/fundo/about">About</a>
                </li>
                <li>
                    <a href="/fundo/privacy">Privacy</a>
                </li>
                <li>
                    <a href="https://github.com/jaiselrahman/fundo">Github</a>
                </li>
            </ul>
            <div> Copyright &copy; 2017 - jaiselrahman </div>
        </small>
    </div>
</footer>
</body>

</html>